# Example iOS config: https://github.com/CircleCI-Public/circleci-demo-react-native/blob/master/.circleci/config.yml

version: 2

references:
  gems_cache_key: &gems_cache_key
    bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}

  restore_yarn_cache: &restore_yarn_cache
    restore_cache:
      keys:
        # when lock file changes, use increasingly general patterns to restore cache
        - yarn-packages-v4-{{ .Branch }}-{{ checksum "yarn.lock" }}
        - yarn-packages-v4-{{ .Branch }}-
        - yarn-packages-v4-

  save_yarn_cache: &save_yarn_cache
    save_cache:
      paths:
        - node_modules/
      key: yarn-packages-v4-{{ .Branch }}-{{ checksum "yarn.lock" }}

  restore_gems_cache: &restore_gems_cache
    restore_cache:
      key: *gems_cache_key

  save_gems_cache: &save_gems_cache
    save_cache:
      key: *gems_cache_key
      paths:
        - vendor/bundle

jobs:
  build:
    macos:
      xcode: "11.2.1"
    working_directory: ~/SpokestackRSSReader
    environment:
      FL_OUTPUT_DIR: output
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - *restore_yarn_cache
      - run: yarn --prod --frozen-lockfile
      - *save_yarn_cache

      - *restore_gems_cache
      - run:
          command: bundle install
          working_directory: SpokestackRSSReader
      - *save_gems_cache

      - run:
          name: Build iOS ipa
          command: bundle exec fastlane assemble_build
          working_directory: SpokestackRSSReader
          no_output_timeout: 10m

      - store_artifacts:
          path: ios/output/gym/SpokestackRSSReader.ipa
          destination: /SpokestackRSSReader.ipa

  deploy:
    macos:
      xcode: "11.2.1"
    working_directory: ~/SpokestackRSSReader
    environment:
      FL_OUTPUT_DIR: output
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - *restore_yarn_cache
      - run: yarn --prod --frozen-lockfile
      - *save_yarn_cache

      - *restore_gems_cache
      - run:
          command: bundle install
          working_directory: ios
      - *save_gems_cache

      - run:
          name: Build and deploy iOS ipa
          command: bundle exec fastlane deploy
          working_directory: ios
          no_output_timeout: 10m

      - store_artifacts:
          path: ios/output/gym/SpokestackRSSReader.ipa
          destination: /SpokestackRSSReader.ipa

workflows:
  version: 2
  deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - production
      - deploy:
          filters:
            branches:
              only:
                - production
            tags:
              only:
                - /\d+\.\d+\.\d+/
